<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
	</configSections>
	<paypal>
		<settings>
			<add name="mode" value="sandbox" />
			<add name="connectionTimeout" value="360000" />
			<add name="requestRetries" value="1" />
			<add name="clientId" value="AToPRqx_0_sp1ew_nF_TzuNfiPuv50UV96-hCm4GA94dAhiOB6Q8MNwj5ywkdlgQ9HWVKJZ2z87uIXvv" />
			<add name="clientSecret" value="ECC_bgv1XWm3ZkjKfnyxc9uHKqWoaWZAP0rNLPxOxnxSaRH2pL4lhDkVanhww0hf9TrWvyC98P9gvOVg" />
		</settings>
	</paypal>

	<connectionStrings>
    <add name="QuanLy_VLXDConnectionString" connectionString="Data Source=MSI;Initial Catalog=QuanLy_VLXD;User ID=sa;Password=123;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
    <add name="QLSINHVIENConnectionString" connectionString="Data Source=MSI;Initial Catalog=QLSINHVIEN;User ID=sa;Encrypt=True;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
	  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PayPalMode" value="sandbox" />
   <add key="PayPalClientId" value="AWJ6QqZq22_2N2dnKl7d_eLAX4Qx-gfi5mMrLtJnaOgGb_ycFpzg7Fg8DEj8uP1sDgUxCs2-tr8O3-yw" />
   <add key="PayPalClientSecret" value="EAeQ7EonHH6dvBlM8Ase34j4eKJjWKVeXYNiOoQ0Ho-1AI_hKqSmUsqMVY6AuFcNlbFpCUmLCyeNhp3c" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>