
@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div style="display:flex; flex-direction:column; align-items:center;justify-content:center;padding:146px"
        >
    <h2 style="color:#ff0000">Chức năng này hiện chưa hoàn hiện. Vui lòng quay lại sau !!!</h2>

</div>

