
@{
    ViewBag.Title = "HienThiDSDonNhanHang";
    Layout = "~/Views/Shared/Layout_NhanVien.cshtml";
}

@*<h2>HienThiDSDonNhanHang</h2>*@

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        overflow-x: hidden;
        color: black;
    }

    .sidebar {
        color: black;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: #f8f9fa;
        padding: 20px;
        margin-top: 100px;
    }

    .nav-link {
        color: black;
    }

    .text-primary {
        color: black !important;
        margin-top: 30px;
    }

    .text-secondary {
        margin-top: 20px;
    }

    .content {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .submenu {
        display: none;
    }
</style>
<div class="sidebar">
    <div class="text-primary">Quản lý nhập hàng</div>
    <div id="toggle-submenu" class="text-primary" style="cursor: pointer;">Nhập hàng</div>
    <ul class="nav flex-column submenu" id="submenu">
        <li class="nav-item">
            <a class="nav-link" href="#">Công ty Cổ phần Xi măng Hà Tiên</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Công ty TNHH Xây dựng và Vật liệu Xây dựng Đồng Nai:</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">NVICEMc</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Thép Hòa Phát</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Công ty TNHH Tấm Lợp Kháng Nhiệt Hưng Phú</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Công ty TNHH Nguyên Liệu Xây Dựng Tân Hưng</a>
        </li>
    </ul>
    <div class="text-primary">Khác</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById('toggle-submenu').addEventListener('click', function () {
        var submenu = document.getElementById('submenu');
        submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
    });</script>

<div class="content" style="margin-left: 250px; padding: 20px;">
    <div class="card" style="width: 18rem;">
        <img src="https://vlxdgiatot.com/wp-content/uploads/2024/10/SAN-VINYL-QUARTZ-SLATE-C4347-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SÀN VINYL CRYSTAL SLATE CC050</h5>
            <p class="card-text">
                550.000₫
            </p>
            <a href="#" class="btn btn-primary">Nhập</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://sbshouse.vn/wp-content/uploads/2023/01/9-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SÀN VINYL CRYSTAL SLATE CC050</h5>
            <p class="card-text">
                550.000₫
            </p>
            <a href="#" class="btn btn-primary">Nhập</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://aicahpl.com/content_hpl/upload/Image/vat-lieu-xay-dung-gom-nhung-gi-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bê tông nhẹ</h5>
            <p class="card-text">
                120.000₫/100sl
            </p>
            <a href="#" class="btn btn-primary">Nhập</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://cungquyhoach.vn/Upload/2-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Thép xây dựng </h5>
            <p class="card-text">
                550.000₫
            </p>
            <a href="#" class="btn btn-primary">Nhập</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://sbshouse.vn/wp-content/uploads/2023/01/9-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SÀN VINYL CRYSTAL SLATE CC050</h5>
            <p class="card-text">
                550.000₫
            </p>
            <a href="#" class="btn btn-primary">Nhập</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://aicahpl.com/content_hpl/upload/Image/vat-lieu-xay-dung-gom-nhung-gi-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bê tông nhẹ</h5>
            <p class="card-text">
                120.000₫/100sl
            </p>
            <a href="#" class="btn btn-primary">Nhập</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://cungquyhoach.vn/Upload/2-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Thép xây dựng </h5>
            <p class="card-text">
                550.000₫
            </p>
            <a href="#" class="btn btn-primary">Nhập</a>
        </div>
    </div>

</div>

    @*<div class="card" style="width: 18rem;">
                <img src="https://vlxdgiatot.com/wp-content/uploads/2024/10/SAN-VINYL-QUARTZ-SLATE-C4347-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SÀN VINYL CRYSTAL SLATE CC050</h5>
                    <p class="card-text">
                        550.000₫
                    </p>
                    <a href="#" class="btn btn-primary">Nhập</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img src="https://sbshouse.vn/wp-content/uploads/2023/01/9-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">SÀN VINYL CRYSTAL SLATE CC050</h5>
                <p class="card-text">
                    550.000₫
                </p>
                <a href="#" class="btn btn-primary">Nhập</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://aicahpl.com/content_hpl/upload/Image/vat-lieu-xay-dung-gom-nhung-gi-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bê tông nhẹ</h5>
                <p class="card-text">
                    120.000₫/100sl
                </p>
                <a href="#" class="btn btn-primary">Nhập</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://cungquyhoach.vn/Upload/2-4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Thép xây dựng </h5>
                <p class="card-text">
                    550.000₫
                </p>
                <a href="#" class="btn btn-primary">Nhập</a>
            </div>
        </div>
            <div class="card" style="width: 18rem;">
                <img src="https://sbshouse.vn/wp-content/uploads/2023/01/9-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SÀN VINYL CRYSTAL SLATE CC050</h5>
                    <p class="card-text">
                        550.000₫
                    </p>
                    <a href="#" class="btn btn-primary">Nhập</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://aicahpl.com/content_hpl/upload/Image/vat-lieu-xay-dung-gom-nhung-gi-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bê tông nhẹ</h5>
                    <p class="card-text">
                        120.000₫/100sl
                    </p>
                    <a href="#" class="btn btn-primary">Nhập</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://cungquyhoach.vn/Upload/2-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Thép xây dựng </h5>
                    <p class="card-text">
                        550.000₫
                    </p>
                    <a href="#" class="btn btn-primary">Nhập</a>
                </div>
            </div>*@
