@{
    ViewBag.Title = "Xacnhanxoa";
    Layout = "~/Views/Shared/Layout_NhanVien.cshtml";
}

<h2 class="text-center" style="margin-top:20px">Xác Nhận Xóa Sản Phẩm</h2>

<div style="display:flex; justify-content:center;align-items:center;height:80vh">

    @if (ViewBag.tb != null)
    {
        <p>@ViewBag.tb</p>
    }

</div>
